@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

/* variables for the document */
:root {
    --ff-primary: 'Poppins', sans-serif;

    --fw-reg: 400;
    --fw-medium: 500;
    --fw-semibold: 600;
    --fw-bold: 700;

    --red: hsl(0, 100%, 74%);
    --green: hsl(154, 59%, 51%);
    --blue: hsl(248, 32%, 49%);
    --dark-Blue: hsl(249, 10%, 26%);
    --grayish-blue: hsl(246, 25%, 77%);
    --light: hsl(120, 100%, 100%);
    --shadow: rgba(0, 0, 0, 0.2);

    --fs-body: 16px;
}


/* general styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* margin: 1.5em; */
    font-family: var(--ff-primary);
    color: var(--light);
}

p {
    font-size: var(--fs-body);
    line-height: 1.5;
}

/* custom styling */
.container {
    max-width: 1440px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background: var(--red);
    padding: 50px;
    height: 100vh;
    width: 100vw;
    background-image: url(./images/bg-intro-desktop.png);
}

/* for mobile screens with 375px width and below */
@media (max-width: 375px) {
    .container {
        background-image: url(./images/bg-intro-mobile.png);
    }
}

.container div {
    /* assign 50% to each of the child divs */
    flex: 1;
    padding: 0 10px;
}

.layout {
    max-width: 10 0%;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 15px 30px 15px 30px;
}

/* adjust for screens wider than 375px */
@media (min-width: 375px) {
    .layout {
        /* width: 80%; */
        padding: 15px;
        display: flex;
    }
}

/* 1st column */
.left-col {
    text-align: left;
    padding: 10px;
}

.left-col h1 {
    line-height: 1.2em;
    font-weight: var(--fw-bold);
    padding-bottom: 20px;
}

.left-col p {
    font-size: 0.8em;
    /* line-height: 1.5em; */
    padding-right: 50px;
}


/* 2nd column */
.right-col {
    width: 80%;
    margin: auto 0;
}

.content {
    background-color: var(--light);
    /* border-radius: 5px; */
    padding: 20px;
    box-shadow: 0 5px var(--shadow);
    padding-top: 30px;
}



/* .btn {
    padding: 1.2em 4em;
    background-color: var(--green);
    width: 100%;
    color: var(--light);
    border: none;
    border-radius: 5px;
    font-weight: var(--fw-bold);
    text-decoration: none;
    transition: transform 300ms ease-in-out;
    font-size: var(--fs-body);
    text-transform: uppercase;
    letter-spacing: 1px;
}

.btn:hover {
    cursor: pointer;
} */

.try,
.content {
    width: 100%;
    /* margin-bottom: 15px; */
    box-shadow: 0 5px var(--shadow);
    /* background-color: var(--blue); */
    border: none;
    border-radius: 10px;
    text-align: center;
    /* padding-top: 30px; */
}

.try { 
    background-color: var(--blue); 
    margin-bottom: 15px; 
}

.try p {
    padding: 12px;
    font-size: 10px;
}

/* .t-c {
    color: var(--grayish-blue);
    font-weight: var(--fw-reg);
    font-size: .6em;
    text-align: center;
    margin-top: 5px;
} */

/* .t-c strong {
    color: var(--red);
} */

input[type=text], 
input[type=password]{
    width: 100%;
    padding: 12px;
    /* margin: 8px 0; */
    display: inline-block;
    border: none;
    border-radius: 5px;
    font-weight: var(--fw-semibold);
    font-size: 12px;
    border: 1px solid var(--grayish-blue);
  }
  

/* input:required:invalid {
    border-color: 1px solid var(--red);
    background-image: url(./images/icon-error.svg);
    background-repeat: no-repeat;
    background-position: right;
    background-origin: content-box;
    outline: none;
    border: none;
} */

/* input:invalid+span {
    display: inline;
    color: var(--red);
    float: right;
    font-size: 14px;
}

span {
    display: none
} */

/* input:invalid:not(:placeholder-shown) {
    border-color: 1px solid var(--red);
    background-image: url(./images/icon-error.svg);
    background-repeat: no-repeat;
    background-position: right;
    background-origin: content-box;
    outline: none;
    border: none;
} */

/* input:required:invalid:not(:placeholder-shown) {
    border-color: 1px solid var(--red);
    background-image: url(./images/icon-error.svg);
    background-repeat: no-repeat;
    background-position: right;
    background-origin: content-box;
    outline: none;
    border: none;
} */

/* input:invalid+span {
    display: inline;
    color: var(--red);
    float: right;
    font-size: 14px;
} */